<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<!-- datasource configuration-->
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"  
        destroy-method="close">  
        <property name="driverClass" value="com.mysql.jdbc.Driver" />  
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/jar?useUnicode=true&amp;characterEncoding=UTF-8" />  
        <property name="username" value="root" />  
        <property name="password" value="" /> 
     </bean>

	<!-- JdbcTemplate configuration-->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Manager Bean definition -->
	<bean id="jarService" class="com.thinkingtop.kaas.server.service.impl.JarServiceImpl">
		<property name="jarDAO" ref="jarDAO" />
	</bean>

	<!-- dao Bean definition -->
	<bean id="jarDAO" class="com.thinkingtop.kaas.server.dao.impl.JarDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
	<!-- utility Bean definition -->
	<bean id="maintenance" class="com.thinkingtop.kaas.server.jar.maintenance.Maintenance">
		<property name="jarService" ref="jarService" />
	</bean>
	
	
	<bean class="com.thinkingtop.kaas.server.service.JarBeanFactory" />


<bean id="pollThread" class="java.lang.Thread" init-method="start" destroy-method="interrupt"> 
    <constructor-arg ref="watchServiceRunnableWrapper"/> 
</bean> 
 
<!-- <bean id="watchServiceRunnableWrapper" class="com.thinkingtop.kaas.server.jar.monitor.JWatchRunnableWrapper"> </bean> -->

<bean id="watchServiceRunnableWrapper" class="com.thinkingtop.kaas.server.jar.monitor.JWatchRunnableWrapper"> </bean>



<bean id="uploadThread" class="java.lang.Thread" init-method="start" destroy-method="interrupt"> 
    <constructor-arg ref="socketServerRunnableWrapper"/> 
</bean> 
 
<bean id="socketServerRunnableWrapper" class="com.thinkingtop.kaas.server.upload.SocketServerRunnableWrapper"> </bean>

</beans>